main {
    @import "./variables";
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > p {
        @include font(20px);
        color: white;
        font-weight: 700;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        a {
            @include font;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #999;
        }
        > a:first-child {
            color: chartreuse;
        }
    }
    .gMorning {
        > p {
            @include font(20px);
            color: white;
            font-weight: 700;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        .gMorningImges {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .recentPlayed {
        display: flex;
        justify-content: space-between;

        .boxList {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > p:nth-child(2){
                @include font;
                font-weight: 700;
                color: white;
            }
            > p:nth-child(3){
                @include font;
                color: #999;
            }
        }
    }
    .forYou {
        display: flex;
        justify-content: space-between;

        .boxList {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > p:nth-child(2){
                @include font;
                font-weight: 700;
                color: white;
            }
            > p:nth-child(3){
                @include font;
                color: #999;
            }
        }
    }
}