aside {
  padding: 30px;
  padding-top: 0;
  width: 300px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow-y: scroll;
}

aside .header {
  height: 80px;
  border-bottom: .1px solid #b4a3a3;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

aside .header .user {
  padding: 20px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

aside .header .user .close-icon {
  width: 30px;
}

aside .header span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-size: 20px;
  color: #F2F2F2;
}

aside .header > img:last-child {
  cursor: pointer;
  height: 10px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

aside .header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

aside .header .up-down-icon {
  cursor: pointer;
  height: 10px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transition: .5s;
  transition: .5s;
}

aside .header .rotate {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

aside .show {
  overflow: visible;
  height: 180px;
}

aside .library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  border-bottom: 1px solid #b4a3a3;
}

aside .library > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #999999;
  font-weight: 700;
  cursor: pointer;
}

aside .anotherLIb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}

aside .anotherLIb > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #999999;
  cursor: pointer;
}

aside .queue {
  background-color: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  padding: 30px;
  border-radius: 0 7px 0 7px;
}

aside .queue > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #1ED760;
}

aside .queue div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

aside .queue div p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #999999;
}

aside .queue div p:last-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #999999;
}

@media (max-width: 640px) {
  aside {
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    display: none;
    overflow-y: scroll;
  }
  .show-aside {
    -webkit-transition: .5s;
    transition: .5s;
    overflow-y: scroll;
    background-color: #020A05;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .show-aside .close-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
}

main {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
}

main > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

main header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

main header .menu-icon {
  display: none;
}

main header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #999;
  width: 20px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

main header > a:first-child {
  color: chartreuse;
}

main header .search-input {
  width: 0;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

main header .search-input input {
  padding: 5px;
  border-radius: 7px;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

main header .search-input input:focus {
  border: none;
}

main header .search-inp-show {
  padding: 5px;
  width: 200px;
}

main header .search-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
}

main .gMorning {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .gMorning > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

main .gMorning .gMorningImges {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .recentPlayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .recentPlayed .boxList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main .recentPlayed .boxList > p:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

main .recentPlayed .boxList > p:nth-child(3) {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #999;
}

main .forYou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .forYou .boxList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main .forYou .boxList > p:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

main .forYou .boxList > p:nth-child(3) {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #999;
}

@media (max-width: 640px) {
  main {
    padding: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  main > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 700;
  }
  main header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  main header .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    color: white;
    background-color: #999;
    border-radius: 10px;
  }
  main header a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    color: #999;
    width: 20px;
    height: 50px;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main header > a:first-child {
    color: chartreuse;
  }
  main header .search-input {
    width: 0;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
  }
  main header .search-input input {
    padding: 5px;
    border-radius: 7px;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main header .search-input input:focus {
    border: none;
  }
  main header .search-inp-show {
    padding: 5px;
    width: 200px;
  }
  main header .search-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
  }
  main .gMorning {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .gMorning > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 700;
  }
  main .gMorning .gMorningImges {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .recentPlayed, main .forYou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  main .recentPlayed .boxList, main .forYou .boxList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  main .recentPlayed .boxList > p:nth-child(2), main .forYou .boxList > p:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  main .recentPlayed .boxList > p:nth-child(3), main .forYou .boxList > p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #999;
  }
  main .forYou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .forYou .boxList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  main .forYou .boxList > p:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  main .forYou .boxList > p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #999;
  }
}

.sidebar {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #020A05;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

body main::-webkit-scrollbar {
  width: 5px;
}

body main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

body aside::-webkit-scrollbar {
  width: 5px;
}

body aside::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */